---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Johnny WEHO</title>
  </head>
  <body>
    <div
      style={{ backgroundImage: `url('/images/hero.jpg')` }}
      class="h-screen w-full bg-cover bg-center"
    >
      <div
        class="flex flex-col justify-center items-center h-full w-full bg-black bg-opacity-30 gap-6"
      >
        <h1
          class="text-white font-bold text-4xl md:text-6xl text-center mx-6 leading-tight"
        >
          Johnny WEHO
        </h1>
        <h2
          class="text-center text-gray-200 text-lg md:text-2xl px-4 py-3 mx-4 border-solid border-white border bg-black bg-opacity-50 rounded-lg"
        >
          Celebrating Queer Beauty through Fine Art
        </h2>
        <div class="flex gap-4">
          <a
            class="flex flex-col justify-center items-center gap-2"
            href="https://www.instagram.com/johnnyweho/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white text-sm"
          >
            <img
              class="rounded-2xl h-10 w-10"
              src="/images/insta.svg"
              alt="Instagram Logo"
            />
            <p class="text-white">@johnnyweho</p>
          </a>
          <div class="h-full w-0.5 bg-white"></div>
          <a
            class="flex flex-col justify-center items-center gap-2"
            href="https://www.instagram.com/modelcottrell/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white text-sm"
          >
            <img
              class="rounded-2xl h-10 w-10"
              src="/images/insta.svg"
              alt="Instagram Logo"
            />
            <p class="text-white">@modelcottrell</p>
          </a>
        </div>
        <div class="flex items-center">
          <a
            href="/art"
            class="m-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Art Collection
          </a>
          <a
            href="https://photos.bravecottrell.com"
            class="m-4 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
            >Modeling</a
          >
        </div>
      </div>
    </div>

    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </body>
</html>
